.disclaimer {
	position: relative;

	box-sizing: border-box;
	padding: 8px 16px;

	background-color: #eee;
	color: #000;
	font-size: $font-size--small;

	&__paragraph {
		margin: 0;
	}

	&__text {
		margin-right: 20px;
	}

	&__button-container {
		display: inline-block;
		margin-right: 10px;

		&--close {
			float: right;
		}
	}

	&__button {
		color: black !important;
		cursor: pointer;
	}

	&__link {
		color: inherit;
		text-decoration: underline;
		cursor: pointer;

		&:focus,
		&:hover {
			color: inherit;
		}

		&--disclaimer {
			font-weight: 800;
		}

	}



}