.disclaimer {
	position: relative;

	box-sizing: border-box;
	padding: 10px;

	background-color: #eee;
	color: #000;
	font-size: $font-size--small;

	&__paragraph {
		margin: 0;
	}

	&__text {
		margin-right: 50px;
	}

	&__button-container {
		display: inline-block;
		margin-right: 10px;

		&--close {
			float: right;
		}
	}

	&__button {
		color: black !important;
		cursor: pointer;
	}

	a {
		color: inherit;
		text-decoration: underline;
	}

}