// opener
.open-diagnosis-drawer-button {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(center);
  height: 100%;
  margin-right: 1.25rem;
}


.drawer {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 480px;
  z-index: 1000;
  /* Move to the left as teaser is not part of the drawer itself, but attached to the left side
     of it */
  box-shadow: -20px 0 25px rgba(0, 0, 0, 0.25);
  transform: translate3d(0, 0, 0);
  transition: transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.4s;

  /** FABIAN: Can we do an animation here? */
  &.hidden {
    transform: translate3d(480px, 0, 0);
    box-shadow: none;
  }

  &.is-empty {
    // Hide instantly as content will disappear when drawer content is reset to undefined
    transition: none;
  }

  &__inner {
    clear: right;
    padding-bottom: 100px;
    height: 100%;
    @include flexbox();
    @include flex-direction(column);

    h1 {
      font-size: 24px;
      color: #fff;
      max-width: 85%;
      line-height: 1.1;
      margin: 0 3rem 0 2rem;
    }
    /*h2 {
      font-size: 20px;
      line-height: 1.1;
      margin: 0;
    }*/

    p {
      margin: 0 0 8px 0;
      font-size: 14px;
      line-height: 1.35;
    }

  }


  /** FABIAN: How would I do that correctly? */
  &.hidden {
    .drawer__teaser {
      cursor: w-resize;
    }

    // Make line wider when drawer is hidden
    .drawer__teaser:after {
      width: 10PX;
    }
  }

  // Teaser
  &__teaser {
    cursor: e-resize;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100%;
    bottom: 0;
    z-index: 999;

    &:hover {
      &:after {
        background-color: darken($guidelines-color--dark, 7%);
      }

      .drawer__teaser-flap {
        background-color: darken($guidelines-color--dark, 7%);
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 2PX;
      height: 100%;
      background-color: $guidelines-color--dark;
      transition: background-color $transition-duration, width $transition-duration;
    }


    &-flap {
      position: absolute;
      top: 15%;
      right: 0;
      background-color: $guidelines-color--dark;
      padding: 20px 20px 20px 10px;
      border-radius: 5px;
      color: $color--white;
      @include transition(background-color, $transition-duration);
      @include flexbox();
      @include align-items(flex-end);
    }

    &-subtitle {
      font-size: 15px;
      line-height: 1.2;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      @include transform(rotate(180deg));
    }
    &-title {
      font-size: 18px;
      font-weight: bold;
      line-height: 1.2;
      writing-mode: vertical-rl;
      text-orientation: mixed;
      @include transform(rotate(180deg));
    }
  }

  &__fixed {
    padding: 20px 30px;
    @include flex(0 0 auto);
    background-color: $guidelines-color--dark;
  }
  &__scrollable {
    @include flex(1 1 auto);
    overflow: auto;

    background:
            /* Shadow covers */
            linear-gradient($guidelines-color 30%, rgba($guidelines-color,0)),
            linear-gradient(rgba($guidelines-color,0), $guidelines-color 70%) 0 100%,

              /* Shadows */
            radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
            radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background:
            /* Shadow covers */
            linear-gradient($guidelines-color 30%, rgba(255,255,255,0)),
            linear-gradient(rgba(255,255,255,0), $guidelines-color 70%) 0 100%,

              /* Shadows */
            radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
            radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
    background-repeat: no-repeat;
    background-color: $guidelines-color;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;


  }
  &__scrollable-inner {
    padding-bottom: 60px;

    // disclaimer only
    > .markdown {
      margin: 30px 0;

      p {
        font-size: 13px;
        color: #575757;
      }
    }
  }


  &__header {
    background-color: $guidelines-color--medium;
    padding: 20px 30px;

    &-inner {
      margin-left: 2rem;
    }
  }

  &__therapies {

    padding: 20px 30px;

    &-inner {
      margin-left: 2rem;
    }
  }

}


.diagnosis-text {

  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }

  &__choose-title { // styling for "wahl"-titles
    position: relative;
    font-size: 17px;
    line-height: 1.2;
    margin: 0 0 6px -2rem;
    color: $guidelines-color--dark;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 100%;
      background-color: $guidelines-color--dark;
    }

  }
  &__choose-title-number {
    position: relative;
    color: #fff;
    margin-left: 0;
    line-height: 1.5;
    width: 1.5rem;
    display: inline-block;
    text-align: center;
    margin-right: 0.5rem;
  }
}


.diagnosis-general-considerations {
  border-top: 1px solid $guidelines-color--dark;
  padding: 20px 30px;

  &__inner {
    margin-left: 2rem;

    h2 {
      font-size: 17px;
      line-height: 1.2;
      margin: 0 0 6px 0;
    }
  }
}

.diagnosis-additional-informations {
  border-top: 1px solid $guidelines-color--dark;
  padding: 20px 30px;

  > div {
    margin-left: 2rem;
    font-size: 14px;
  }

  &__guideline-link,
  &__contact {
    a {
      color: $guidelines-color--dark;
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__latest-version {
    margin-top: 20px;

    color: $color--darkgray;
    font-size: 13px;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

}



.markdown {

  color: #000;


  h3 {
    font-size: 17px;
    line-height: 1.1;
    margin: 24px 0 8px 0;
  }
  // first child in markdown follows directly after to a h2 – reduce top space
  h3:first-child {
    margin-top: 16px;
  }
  h4,
  h5,
  h6 {
    font-size: 15.5px;
    line-height: 1.1;
    margin: 20px 0 8px 0;
  }

  a {
    color: black;
    text-decoration: underline;
  }

  p,
  li {
    font-size: 14px;
    line-height: 1.45;
  }

  p {
    margin: 16px 0 4px 0;
  }

  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p {
    margin-top: 4px;
  }

  li {
    position: relative;
    margin: 0 0 4px 0;
  }

  ul {
    margin: 0;
    padding-left: 1.25rem;
    list-style-type: none;

    > li {
      &:before {
        position: absolute;
        left: 0;
        color: $color--gray;
        content: '\2014';
        margin-left: -1.25rem;
      }

      > ul {

        margin-top: 0.25rem;
        margin-left: 0;
        padding-left: 0.75rem;

        > li {
          &:before {
            position: absolute;
            left: 0;
            color: $color--gray;
            content: '\2013';
            margin-left: -0.75rem;
          }
        }
      }
    }

  }

  pre,
  code {
    font-family: inherit;
    font-size: 14px;
    line-height: 1.35;
  }

  // drawer disclaimer
  &.drawer-disclaimer {
    color: #444444;

    p {
      font-size: 13px;
      margin-bottom: 0;
      color: inherit;
    }

    a {
      font-size: 13px;
      color: $guidelines-color--dark;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
