$tooltip--bg-color: #eeeeee;
$tooltip-hint-color: #578ffa;

.introjs {
	&-hint {
		// Below info overlay
		z-index: 250;

		&-dot {
			border-color: $tooltip-hint-color;
		}
		&-pulse {
			background-color: $tooltip-hint-color;
		}

	}

	&-tooltip {
		min-width: 400px;
		background-color: $tooltip--bg-color;

		font-size: $font-size--small;
	}

	&-tooltiptext {
		padding: 0 25px;

		.list {

			padding-left: 25px;

			li {
				padding-left: 10px;
			}
		}

	}

	&-button {
		float: right;

		font-size: $font-size--small;
		font-weight: 600;
		color: black;
		text-shadow: none;

		background-color: #c5c3b2;
		background-image: none;
		padding: 5px 15px;
		margin-bottom: 20px;

		border: 0;

		&:hover {
			color: black;
			background-color: #d7d5c4;
		}
	}

	&-arrow {
		border: 5px solid $tooltip--bg-color;

		&.top {
			top: -10px;
			border-top-color: transparent;
			border-right-color: transparent;
			border-bottom-color: $tooltip--bg-color;
			border-left-color: transparent;
		}

		&.left {
			left: -10px;
			top: 10px;
			border-top-color: transparent;
			border-right-color: $tooltip--bg-color;
			border-bottom-color: transparent;
			border-left-color: transparent;
		}
	}


}