%triangle {
	content:"";
	position: absolute;
	width: 0;
	height: 0;
	bottom: -10px;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid $color--light-green;
}

.button--icon {
	position: relative;
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 15px;
}

.triangle {
	//display: none;

}

$path: '/dist/img/';

.button--antibiotica {
	background-image: url(#{$path}icon1.svg);
	@include transition(background-image, $transition-duration);
	&:hover {
		background-image: url(#{$path}icon1_green.svg);
	}
	&--active {
		background-image: url(#{$path}icon1_green.svg);
		&:after {
			@extend %triangle;
			left: 7px;
		}
	}
}

.button--bacteria {
	width: 30px;
	background-image: url(#{$path}icon2.svg);
	@include transition(background-image, $transition-duration);
	&:hover {
		background-image: url(#{$path}icon2_green.svg);
	}
	&--active {
		background-image: url(#{$path}icon2_green.svg);
		&:after {
			@extend %triangle;
			left: 9px;
		}
	}
}

.button--population {
	width: 23px;
	background-image: url(#{$path}icon4.svg);
	@include transition(background-image, $transition-duration);
	&:hover {
		background-image: url(#{$path}icon4_green.svg);
	}
	&--active {
		background-image: url(#{$path}icon4_green.svg);
		&:after {
			@extend %triangle;
			left: 5px;
		}
	}
}