//BASE
$group__title-h1:	18px;
$group__title-h2:	12px;
$group__title-h3:	14px;


//COLORS
$color--light-green: #cbe264;

$hover-color:		$color--light-green;

$transition-duration: 100ms;

$link-color: #BCD93A;
$link-color--hover: #D2E67A;


//TOP NAVIGATION
$navigation-background--lighter: 	#616161;
$navigation-height: 				65px;

$navigation-button--label-size:		14px;
$navigation-button--font-size:		26px;


//SIDE NAVIGATION
$sidenavigation-background: 		#363636;
$navigation-min-width: 				210px;
$navigation-width:					210px;
$sidenavigation__group__title-size:	26px;
$search-box--height:				70px;
$header-search-height:				125px;

	//checkbox
$active__checkbox-color:			$color--light-green;


//BASE
$font-family--sans-serif: 			"acumin-pro", "Helvetica Neue", Arial;
$line-height-base:					1.6;